<configuration debug="true">
    <appender name="LoganalyticsTest" class="com.github.omnecon.LoganalyticsAppender">
        <workspaceId>YourWorkspaceId</workspaceId>
        <sharedKey>YourShardKey</sharedKey>
        <logType>YourLogType</logType>
        <apiVersion>YourApiVersion</apiVersion>        
    </appender>

    <root level="trace">
        <appender-ref ref="LoganalyticsTest" />
    </root>
</configuration>
